//- guarantees

include /components/guarantee/guarantee

mixin guarantees(options = {})
  .guarantees
    .guarantees__header
      p.guarantees__caption=options.caption
      h3.guarantees__headline=options.headline
    .guarantees__body
      +guarantee({
        items:[
          {
            title:'Огромный ассортимент ',
            img: 'guarantee-1.svg',
            subtitle:'Выберите свой цвет из 20 000 оттенков, а если не найдете нужный, мы смешаем любой цвет и оттенок при вас',
          },
          {
            title:'Выезд к клиенту',
            img: 'guarantee-3.svg',
            subtitle:'Оставьте заявку и мы выедем к вам на дом, чтобы проконсультировать вас на месте и подобрать верные решения',
          },
          {
            title:'Помним о вас',
            img: 'guarantee-2.svg',
            subtitle:'Даже спустя несколько лет, вы можете прийти к нам и мы найдем номер вашей краски и снова его повторим! ',
          },
          {
            title:'Многолетний опыт',
            img: 'guarantee-4.svg',
            subtitle:'Все специалисты нашего салона работают в сфере колористики и дизайна более 10 лет, поэтому нам можно доверять безоговорочно.',
          },
        ],
      })
  //- .guarantees__text
  //-   .text.is-guarantees
  //-     p Мастерская цвета «Краски» - это лучшее место, для выбора лакокрасочной продукции в городе Смоленске.
  //-     p Без опытных специалистов вам будет очень легко запутаться и  потеряться во множестве оттенков палитр на сайте производителей красок.
  //-     p Наши колористы-консультанты всегда смогут вам помочь. Они внимательно выслушают все ваши пожелания и поделятся своим опытом и знаниями в процессе выбора всего, что будет вам необходимо: краски, обоев, лепнины.
