//- quote

mixin quote(options = {})
  .quote.grid.is-row
    .quote__header.col-3
      p.quote__subtitle Мастерская Цвета
      h3.quote__title=options.title
    .quote__body.col-8.shift-1
      .text
        p Мастерская цвета «Краски» - это лучшее место, для выбора лакокрасочной продукции в городе Смоленске.
        p Без опытных специалистов вам будет очень легко запутаться и  потеряться во множестве оттенков палитр на сайте производителей красок.
        p Наши колористы-консультанты всегда смогут вам помочь. Они внимательно выслушают все ваши пожелания и поделятся своим опытом и знаниями в процессе выбора всего, что будет вам необходимо: краски, обоев, лепнины.


        
