//- date

mixin date(options = {})
  .date
    .date__description
      p.date__subtitle Описание проекта:
      p.date__title=options.text
    .date__time
      p.date__subtitle Дата сдачи:
      time.date__title=options.time