@import url('https://fonts.googleapis.com/css?family=Philosopher:400,700&display=swap&subset=cyrillic');

@font-face {
	font-family: 'Corsa Grotesk';
	font-style: normal;
	font-weight: 100;
	src: url('/fonts/CorsaGrotesk-Thin.woff2') format('woff2'),
	url('/fonts/CorsaGrotesk-Thin.woff') format('woff');
}
@font-face {
	font-family: 'Corsa Grotesk';
	font-style: normal;
	font-weight: 100;
	src: url('/fonts/CorsaGrotesk-Regular.woff2') format('woff2'),
	url('/fonts/CorsaGrotesk-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 300;
	src: url('/fonts/Gilroy-Light.woff') format('woff');
}
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/Gilroy-Medium.woff') format('woff');
}
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: normal;
	src: url('/fonts/Gilroy-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 600;
	src: url('/fonts/Gilroy-Semibold.woff') format('woff');
}