/**
* section
*/

.section {
  $this: &;
  overflow: hidden;
  margin: 100px 0;
  margin-bottom: 60px;
  position: relative;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin: 0;
    font-size: 34px;
    font-weight: $semibold;
    font-family: $gilroy;
    text-align: center;
    margin-bottom: 17px;
  }

  &__caption {
    max-width: 570px;
    margin: 0;
    color: $dark;
    font-family: $corsa;
    font-size: 18px;
    line-height: 182%;
    text-align: center;
  }

  &__body {
  }

  &__header + &__body {
    margin-top: 40px;
  }

  &.is-blue {
    background-color: #EFF6FB;
    background-image: url('/img/print.svg');
    background-position: 200px 60px;
    background-repeat: no-repeat;
    padding-top: 84px;
    padding-bottom: 52px;
  }

  &.is-margin-0 {
    margin: 0;
  }
  &.is-padding-0 {
    padding: 0;
    padding-bottom: 100px;
  }

  &.is-help {
    background-color: #EFF6FB;
    background-image: url('/img/print.svg'),url('/img/print.svg');
    background-position: 120% -100px, -50px 150px;
    background-repeat: no-repeat;
    margin: 0;
    margin-top: 45px;
  }

  &.is-begin {
    background-image:linear-gradient(180deg, #EFF6FB 0%, rgba(239, 246, 251, 0) 100%), url('/img/begin.jpg');
    background-position: 0% 0%, center bottom;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &.is-left {
    .section__header {
      align-items: flex-start;
    }
  }

  &.is-m-90 {
    margin: 92px 0; 
  }
  &.is-review {
    background-color: #EFF6FB;
    background-image: url('/img/print.svg');
    background-position: 1050px 400px;
    background-repeat: no-repeat;
    padding-top: 112px;
    padding-bottom: 56px;
  }
  &.is-m-60 {
    margin: 50px 0; 
  }
}
